input {
	file{
		path => "/home/janno/stash/data/test1.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => ["CATEGORY", "DESC", "IP", "GEOIP", "ASN", "TIME", "PORT", "FQDN", "TAGS"]
	}

#'string' ei ole vaja aga selguses mõttes
	mutate { convert => ["CATEGORY","string"]}
	mutate { convert => ["DESC","string"]}
	mutate { convert => ["IP","string"]}
	mutate { convert => ["GEOIP","string"]}
	mutate { convert => ["ASN","integer"]}
	mutate { convert => ["TIME","string"]}
	mutate { convert => ["PORT","integer"]}
	mutate { convert => ["FQDN","string"]}
	mutate { convert => ["TAGS","string"]}
	
	#see on kasutusel test1_backup.csv puhul
	#kv {
	#	source => "TAGS"
	#	field_split => ";"
	#	value_split => ":"
	#	target => "TAGS"
	#}

	#see on kasutusel test1.csv puhul
	json {
		source => "TAGS"
		target => "TAGS"
	}
	
}

output { 
	elasticsearch {
		hosts => "localhost"
		index => "test1"
		document_type => "test1_stat"
	}
	stdout {}
}
